/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */
h1
{
  color: red;
}

h2
{
  color: green;
}

h3
{
  color: blue;
  font-family: "Lucida Console";
}

p
{
  color: white;
  background-color: black;
  font-family: "Lucida Console";
}

body
{
  background-image: "/Chin_in_Hand.jpg"
}

label
{
  color: #777777;
  font-size: 100px;
}

.actions
{
  padding: 17px;
}

#error_explanation
{
  background-color: #777777;
  padding: 30px;
  font-family: "Helvetica";
}

.field_with_errors
{
  margin-top: 10px;
  padding: 2px;
  background-color: red;
  display: table;
}

.field_with_errors label
{
  color: #fff;
}

.flash.success
{
  color: #7f7;
}

.flash.failure
{
  color: #f77;
}

.flash.error
{
  color: #fff;
  background-color: red;
}

.flash.crazy
{
  color: #fff;
  background-color: blue;
  font-family: "webdings";
}

pre.file
{
  color: #555;
  background-color: #FEFEFE;
  font-family: "Lucida Console";
  font-size: 10px;
}

pre.debug_dump
{
  color: #555;
  background-color: #EFEFEF;
  font-family: "Comic Sans MS";
  font-size: 10px;
}

div.field input
{
  color: #555;
  background-color: #EFEFEF;
  font-family: "Arial Black";
}

.flash.notice
{
  background-color: #ff7;
}

a.visited_a_lot
{
  color: blue;
}