<h1>CAUSING A PROBLEM...</h1>
<%= "\x04" %>
<%= "\x1A" %>
<h1>UH-OH</h1>
<p>The code above should have caused a problem or an <%= Exception.new("error").inspect %>!</p>
<%# Exception.new("gggg").backtrace.join("<br>") %>