<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<link rel="stylesheet" type="text/css" href="http://static.poptropica.com/style.css" />
<link rel="stylesheet" type="text/css" href="http://static.poptropica.com/css/footer.css" />
<meta http-equiv="Content-Type" content="text/html; charset=koi8-r" />
<title>Poptropica</title>
<!-- Country: US  -->
<script type="text/javascript" language="javascript">AC_FL_RunContent = 0;</script>
<script type="text/javascript" src="http://static.poptropica.com/AC_RunActiveContent.js" language="javascript"></script>
<script type="text/javascript" src="http://static.poptropica.com/flashutils.js"></script>
<script type="text/javascript" src="http://static.poptropica.com/brainFunctions.js" language="javascript"></script>
</head>
<body bgcolor="#139FFD">
<script type="text/javascript" language="javascript" src="http://static.poptropica.com/campaign.js"></script>
<script type="text/javascript"> 
if (typeof setStaticPrefix == "function") {
  setStaticPrefix('http://static.poptropica.com/');
}
</script>
<script type="text/javascript" language="javascript" src="http://static.poptropica.com/js/swfobject2.js"></script>
        <table width="1010" height="480" border="0" cellpadding="0" cellspacing="0" align="center">
       <tr>
       <td width="1010" height="480" align="center">
<script type="text/javascript" language="javascript"> 
if (AC_FL_RunContent == 0) {
  alert("This page requires AC_RunActiveContent.js.");
} else {
  AC_FL_RunContent(
	"codebase", "http://download.macromedia.com/pub/shockwave/cabs/flash/swflash.cab#version=8,0,0,0",
	"width", "1010",
	"height", "673",
	"src", "http://static.poptropica.com/framework",
	"quality", "high",
	"pluginspage", "http://www.macromedia.com/go/getflashplayer",
	"align", "middle",
	"play", "true",
	"loop", "true",
	"scale", "noscale",
	"wmode", "window",
	"devicefont", "false",
	"id", "framework",
	"bgcolor", "#139FFD",
	"name", "/framework",
	"menu", "false",
	"allowFullScreen", "false",
	"allowScriptAccess","always",   // changed from sameDomain to enable cross-domain getURL
	"movie", "http://static.poptropica.com/framework",
	"salign", "t",
	"FlashVars", "state=return_user_standard&desc=City&island=Early&startup_path=&severity=1"
 ); //end AC code
}
</script>
<noscript>
<object
 classid="clsid:d27cdb6e-ae6d-11cf-96b8-444553540000"
 codebase="http://download.macromedia.com/pub/shockwave/cabs/flash/swflash.cab#version=8,0,0,0"
 width="1010" 
 height="673"
 id="framework"
 align="middle">
 <param name="allowScriptAccess" value="always" />
 <param name="allowFullScreen" value="false" />
 <param name="movie" value="http://static.poptropica.com/framework.swf" />
 <param name="menu" value="false" />
 <param name="quality" value="high" />
 <param name="scale" value="noscale" />
 <param name="salign" value="t" />
 <param name="bgcolor" value="#139FFD" />
 <param name="FlashVars" value="state=return_user_standard&desc=City&island=Early&startup_path=&severity=1">
 <embed src="http://static.poptropica.com/framework.swf"
  menu="false" quality="high" scale="noscale" salign="t" bgcolor="#139FFD"
  width="1010" height="673"
  name="framework"
  align="middle" allowScriptAccess="always" allowFullScreen="false"
  type="application/x-shockwave-flash"
  pluginspage="http://www.macromedia.com/go/getflashplayer"
  flashvars="state=return_user_standard&desc=City&island=Early&startup_path=&severity=1"
/>
</object>
</noscript>
        </td>
        </tr>
    </table>
<!--
<div style="margin: 10px 0px 0px 0px"><a href="http://www.poptropica.com/Poptropica-FAQ.html#freecredits" target="_blank"><img src="http://static.poptropica.com/bottom_images/didYouKnow.gif" alt="Did You Know?" border="0px"></a></div>
-->
<!-- updated 'didYouKnowBar' to use swf instead of gif' WRB - 1/20/10 -->
 
<div>
<script language="javascript"> 
	if (AC_FL_RunContent == 0) {
		alert("This page requires AC_RunActiveContent.js.");
	} else {
		AC_FL_RunContent(
			'codebase', 'http://download.macromedia.com/pub/shockwave/cabs/flash/swflash.cab#version=9,0,0,0',
			'width', '640',
			'height', '34',
			'src', "http://static.poptropica.com/bottom_images/didYouKnowBar",
			'quality', 'high',
			'pluginspage', 'http://www.macromedia.com/go/getflashplayer',
			'align', 'middle',
			'play', 'true',
			'loop', 'true',
			'scale', 'noscale',
			'wmode', 'window',
			'devicefont', 'false',
			'id', 'didYouKnowBar',
			'bgcolor', '#139ffe',
			'name', 'didYouKnowBar',
			'menu', 'false',
			'allowFullScreen', 'false',
			'allowScriptAccess','always',
			'movie', "http://static.poptropica.com/bottom_images/didYouKnowBar",
			'salign', 't'
			); //end AC code
	}
</script>
</div>
<br>
 
 
<div class="footer">
<a class="terms" href="/about/parent-overview.html" target="_blank">Parents</a> |  <a class="terms" href="/Poptropica-FAQ.html" target="_blank">FAQ</a> |  <a class="terms" href="/contact/contact-Poptropica.html" target="_blank">Contact Us</a> | <a class="terms" href="/about/about-Poptropica.html" target="_blank">About Us</a> <br/>
 
Part of Family Education Network | <a class="privacy" href="http://fen.com/resources/privacyStatement.html" target="_blank">PRIVACY POLICY</A>* <!--<span class="copyright" style="font-size:10px;">(Updated 00.00.10)</span>--> | <a class="terms" href="/about/terms-of-use.html" target="_blank">Terms of Use</a>* <span class="copyright" style="font-size:10px;padding-left:10px;">* updated 05/12</span>
 
 
 
</div>
 
 
<a href="http://www.poptropica.com" class="logoclick"><img src="http://static.poptropica.com/images/spacer.gif" width="1" height="1" border="0" alt="Poptropica Home"></a><font size="-1" face="Helvetica" color="black">
<span class="copyright">&copy; 2007 - 2012 Pearson Education, Inc. All rights reserved</span>
</font>
<!-- Start Quantcast tag -->
<script type="text/javascript" src="http://edge.quantserve.com/quant.js"></script>
<script type="text/javascript">_qacct="p-a1M28uhZAfCFw";quantserve();</script>
<noscript>
<a href="http://www.quantcast.com/p-a1M28uhZAfCFw" target="_blank"><img src="http://pixel.quantserve.com/pixel/p-a1M28uhZAfCFw.gif" style="display: none;" border="0" height="1" width="1" alt="Quantcast"/></a>
</noscript>
<!-- End Quantcast tag --> 
<!-- Begin Insight Express tag -->
<script language="javascript" src="http://icompass.insightexpressai.com/764.js"></script>
<!-- End Insight Express tag -->
<!-- Begin Google Analytics -->
<script type="text/javascript" src='http://www.google-analytics.com/ga.js'></script>
<script type="text/javascript"> 
var pageTracker = _gat._getTracker("UA-350786-6");
GATrackPageView('/island/Early/City');
function GATrackEvent(category, action, label_opt, value_opt)
{
    if (value_opt == undefined || value_opt == "undefined" || value_opt == "null")
    {
        return pageTracker._trackEvent(category, action, label_opt);
    }
    else
    {
        value_opt = Number(value_opt);
        return pageTracker._trackEvent(category, action, label_opt, value_opt);
    }
}
function GATrackPageView(url)
{
    pageTracker._trackPageview(url);
}
</script>
<!-- End Google Analytics -->
<!-- Begin comScore Tag -->
<script type="text/javascript" src='http://b.scorecardresearch.com/beacon.js'></script>
<script> 
  COMSCORE.beacon({
    c1:2,
    c2:6035556,
    c3:"",
    c4:"",
    c5:"",
    c6:"",
    c15:""
  });
</script>
<noscript>
  <img src="http://b.scorecardresearch.com/p?c1=2&c2=6035556&c3=&c4=&c5=&c6=&c15=&cj=1" />
</noscript>
<!-- End comScore Tag -->
</body>
</html>

